<h1 align="center" id="heading">SDM $sdm-number INSTALLATION PLAN</h1>
<table align="center" id="descr" id="DescTable">
<tr>
  <td class="tdHighlight"><b>SDM Number</b></td>
  <td class="cell1">$sdm-number</td>
  <td class="tdHighlight"><b>Install Date</b></td>
  <td class="cell1">$install-date $install-time</td>
</tr>
<tr>
  <td class="tdHighlight"><b>SDM Summary</b></td>
  <td class="cell1" collspan="3">$sdm-summary</td>
</tr>
<tr>
  <td class="tdHighlight"><b>Work Request</b></td>
  <td class="cell1" collspan="3">$work-request</td>
</tr>
<tr>
  <td class="tdHighlight"><b>PrimeCode/Sub-Vol Ref</b></td>
  <td class="cell1" collspan="3">$primecode-userchange</td>
 </tr>
 <tr> 
  <td class="cell1"> <b>Prod Sys</b></td>
  <td class="cell1">$prod-sys</td>
  <td class="tdHighlight"><b>DR Sys</b></td>
  <td class="cell1">$dr-sys</td>
</tr>
<tr>
  <td colspan="4" class="cell1">
    This document contains the steps required for GAMS Tandem and PSSC to Install, Verify, and Backout SDM Change Order $sdm-number, as required for Work request $work-request.<br/>
    The 6-digit primecode/subvolume changes, and is generally a derivative of the SDM number or work request number. It is used in the naming convention for the location of script files used during the steps to be executed.<br/>
    The live (Production) system is currently $prod-sys and the backup (DR) is $dr-sys.
  </td>
</tr>
</table>
<div class="pagebreak"/>